.loading-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 9999;
    transition: opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    pointer-events: all;
}

.loading-screen-gon {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 9999;
    transition: opacity 0.8s cubic-bezier(0.65, 0, 0.35, 1);
    pointer-events: none;
}
